@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
	margin: 0;
	background: #222;
	color: white;
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
