@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

$select-background-color: rgb(84, 95, 255);
$select-color: white;
$cursor-color: white;
$tag-hook-color: rgb(200, 200, 200);
$tag-name-color: #d34949;
$attr-name-color: #8cd673;
$attr-symbol-color: rgb(200, 200, 200);
$attr-value-color: #f9c962;

.html-writer-element {
	font: {
		family: "Source Code Pro", monospace;
		size: 30px; ///30px
	}

	pre {
		margin: 0;
		white-space: pre-wrap;
    }
    
    span {
		margin: 0;
		white-space: pre-wrap;
    }

	&.select {
		background: $select-background-color;

		* {
			color: $select-color !important;
		}
	}

	.cursor {
        border-left: solid $cursor-color;

		&.blink {
			animation: clignot 0.5s linear infinite alternate;
		}
	}

	@keyframes clignot {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}

.html-writer-element.HTML-tag {
	display: flex;
	flex-wrap: wrap;

	&.open {
		flex-direction: column;

		& > .content {
			margin-left: 50px;
		}
	}

	&:not(.open) {
		flex-direction: row;

		& > .content {
			display: flex;
		}
	}

	/* .content {
		flex-wrap: wrap;
	} */
}

.html-writer-element.open-tag,
.html-writer-element.close-tag {
	.tag-hook {
		color: $tag-hook-color;
	}

	.tag-name {
		color: $tag-name-color;
	}

	.tag-attr-list {
		.attr {
			.name {
				color: $attr-name-color;
			}

			.symbol {
				color: $attr-symbol-color;
			}

			.value {
				color: $attr-value-color;
			}
		}
	}
}
